body {
    background: url('back.png') #F8F8FF;
    background-repeat: no-repeat;
    background-position: center center;
    color: #353535;
}



/* Background style */

textarea, .edit, .dropdown select {
    background: #ffffff;
}



/* Borders style */

#content, input[type="number"], #loginform, .post, .indexbox {
    border: 1px solid #E6E6FA;
}

#lftitle, .indextitle, .title, .details, .thread, .search-title {
    border-bottom: 1px solid #E6E6FA;
}

.thread {
    border-top: 1px solid #E6E6FA;
}

.error-block {
	border-left: 1px solid #E6E6FA;
}

#send-post, textarea, .edit, .button, .dropdown select {
    border: 1px solid #cccccc;
}



/* Text style */

.mformfield, #lftitle, #lfcontent, #copyright, .title, .indextitle, .search-title {
    color: #cccccc;
}

.spoiler {
    background-color: #E6E6FA;
    color: #E6E6FA;
}

.spoiler:hover {
    color: inherit;
}

.post_quote {
    color: #708090;
}



/* Links style */

a, a:hover, .inthread a:hover {
    color: #228B22;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inthread a {
    color: #708090;
}

hr {
    color: #E6E6FA; /*для IE */
    background-color:#E6E6FA; /*для Firefox, Opera, Safari*/

}


/* Forms style */

textarea {
    color: #555555;
}


textarea:hover {
    border: 1px solid #999999;
}

textarea:focus {
    border: 1px solid #228B22;
}

input[type="number"]{
    outline: none;
    padding: 3px 0 2px 5px;
}

input[type="number"]:focus {
    outline: none;
    border: 1px solid #228B22;
}


.edit {
    color: #555555;
}

.edit:hover {
    border: 1px solid #999999;

}

.edit:focus {
    border: 1px solid #228B22;
}

#loginform {
    background: #ffffff;
    background: linear-gradient(to top, #E6E6FA 0%, rgba(255, 255, 255, 0)  15%);
    box-shadow: 0px 3px 5px #cccccc;
}



/* Buttons style */

#send-post, .button, .file-button {
    background: #ffffff;
    background: linear-gradient(to top, #cccccc 0%, #ffffff 75%);
    color: #595959;
    border: 1px solid #E6E6FA;
}

#send-post:hover, .button:hover, .file-button:hover{
    background: #E6E6FA;
    background: linear-gradient(to top, #E6E6FA 0%, #ffffff 75%);
    border: 1px solid #E6E6FA;
}

/* New main style */

.joy-thread {
    background: #ffffff;
    border-top: 2px solid #E6E6FA;
    box-shadow: 0px 3px 5px #cccccc;
}


/* Board style */

#content {
    background: #ffffff;
    border-top: 2px solid #E6E6FA;
    box-shadow: 0px 3px 5px #cccccc;
}

.details {
    color: #999999;
}


.btitle {
    color: #708090;
    border-bottom: none;
}



/* Index style */

#logo, #slogan, #footer-search {
    color: #353535;
    text-shadow: -1px -1px 1px #cccccc;
}


.indexbox, .search-box {
    background: #ffffff;
    box-shadow: 0px 2px 3px #cccccc;
    background: linear-gradient(to top, #E6E6fA 0%, #ffffff 50%);
    border-bottom: none;
}

.indeximg {
    border-right: 1px solid #E6E6fA;
}

#options {
    background: #ffffff;
}

#answer {
    background: #ffffff;
}
