body {
    background: url('back.png') #FEFFEF;
    background-repeat: no-repeat;
    background-position: center center;
    color: #681715;
}



/* Background style */

textarea, .edit, .dropdown select, input[type="number"] {
    background: #F1E0D6;
} 



/* Borders style */

#content, input[type="number"], #loginform, .post, .indexbox {
    border: 1px solid #D9C6C2;
}

#lftitle, .indextitle, .title, .details, .thread, .search-title {
    border-bottom: 1px solid #D9C6C2;
}

.thread {
    border-top: 1px solid #D9C6C2;
}


textarea, .edit, .button, .dropdown select { 
    border: 1px solid #D9C6C2;
}



/* Text style */

.mformfield, #lftitle, #lfcontent, #copyright, .title, .indextitle, .search-title {
    color: #A5A69B;
}



/* Links style */

a, a:hover {
    color: #0B7A45;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inthread a {
    color: #708090;
}

.inthread a:hover {
    color: #0B7A45;
}

hr {
    color: #D9C6C2; /*для IE */ 
    background-color:#D9C6C2; /*для Firefox, Opera, Safari*/ 

}


/* Forms style */

input[type="number"]{
    color: #681715;
}

.dropdown select {
    color: #681715;
}

textarea {
    color: #681715;
}

textarea:hover {
    border: 1px solid #999999;
}

textarea:focus {
    border: 1px solid #0B7A45;
}

input[type="number"]{
    outline: none;
    padding: 3px 0 2px 5px;
}

input[type="number"]:focus {
    outline: none;
    border: 1px solid #0B7A45;
}

.edit {
    color: #681715;
}

.edit:hover {
    border: 1px solid #999999;

}

.edit:focus {
    border: 1px solid  #0B7A45;
}

#loginform {
    background: #F1E0D6 ;
    background: linear-gradient(to top, #d9c4b8 0%, #F1E0D6 15%);
    box-shadow: 0px 3px 5px #D6D9AD; 
    border: 1px solid #D9C6C2;
}



/* Buttons style */

.button, .file-button {
    background: #F1E0D6;
    background: linear-gradient(to top, #F1E0D6 0%, #FFE7D9 75%);
    color: #681715;
    border: 1px solid #D9C6C2;
}

.button:hover, .file-button:hover{
    background: #FFD7BF;
    background: linear-gradient(to top, #FFD7BF 0%, #FFE7D9 75%);
}



/* Board style */

#content {
    background: #F1E0D6;
    border: 1px solid #D9C6C2;
    border-top: 2px solid #D9C6C2;
    box-shadow: 0px 3px 5px #D6D9AD;
}

.details {
    color: #a5a69b;
}


.btitle {
    color: #3399CC;
    border-bottom: none;
}

.post {
    background: #e6d4cb;
}


/* Index style */

#logo, #slogan {
    color: #0B7A45;
    text-shadow: -1px -1px 1px #D6D9AD;
}


.indexbox, .search-box {
    background: #F1E0D6;
    border: 1px solid #D9C6C2;
    box-shadow: 0px 2px 3px #D6D9AD; 
    background: linear-gradient(to top, #d9c4b8 0%, #F1E0D6 50%);
    border-bottom: none;
}

.indeximg {
    border-right: 1px solid #E6E6fA;
}

