<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html> 
<head>
<title>Kasatou - Страница не найдена</title>
<link rel="stylesheet" type="text/css" href="static/main.css">
<link rel="stylesheet" type="text/css" href="static/wakaba.css">
</head>
<body>

<div id="error-image"></div>

<div id="errorbox" class="indexbox">
<div id="etitle" class="title">
Kasatou - Страница не найдена
</div>


<div class="error-msg">
<div class="error-block">

<a href="#" class="error-link">
<span class="grad"></span>
На главную</a>
</div>

<div class="error-block">
<a href="#">
<span class="grad"></span>
/b/</a>
</div>

<div class="error-block">
<a href="#">
<span class="grad"></span>
Поиск</a>
</div>


</div>
</div> 


<div id="slogan">Yet Another Pointless Imageboard</div>

</body>

</html>
