<!DOCTYPE html>
{% load i18n %}
{% autoescape off %}
<html>
  <head>
    <title>Kasatou - {{board}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/{{user.theme|lower}}.css">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
    <script src="/../static/script.js"></script>
  </head>


  <body>
    <section id="wrapper">
    <div id="main">
      <div class="threadbar">
        {% for thread in threads_menu %}
        <div class="threads">
          <span class="link"><a href="{{thread.board_id}}thread/{{thread.id}}">{{thread.topic|truncatechars:35}} </a></span>
        </div>
        {% endfor %}
      </div>

      <div id="content">
        <div class="title">New thread</div>
        <div id="mainform">
          <form action="/thread_add/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formrow"><div class="mformfield">Topic:</div> <input name="topic" class="edit" type="text" size="53" maxlength="53"/></div>
            <div class="formrow"><div class="mformfield">Text: </div><div class="formrow">
              <button type=button class="button codebar" id="q">></button>
              <button type=button class="button codebar" id="b">b</button>
              <button type=button class="button codebar" id="i">i</button>
              <button type=button class="button codebar" id="s">s</button>
              <button type=button class="button codebar" id="sp">sp</button>
              <button type=button class="button codebar" id="magic">u</button>
              <button type=button class="button codebar" id="cd">code</button>
              <button type=button class="button codebar" id="cens">cens</button>
              <button type=button class="button codebar" id="url">url</button>
              </div>
              <textarea id="id_text" name="text" rows="10" cols="60" name="text"></textarea> </div>
            <div class="formrow">
              <label for="upload" class="file-button" style="float:left;"> Img </label>
              <input name="image1" id="upload" accept="image/jpeg,image/png,image/gif"
                     type="file" style="display: none" onchange="this.nextElementSibling.value = this.previousElementSibling.title = this.files[0].name">
              <input type="text" disabled="disabled" class="edit file-name"></input>
            </div>
            <div class="formrow">
              <label for="upload1" class="file-button" style="float:left;"> Img </label>
              <input name="image2" id="upload1" accept="image/jpeg,image/png,image/gif"
                     type="file" style="display: none" onchange="this.nextElementSibling.value = this.previousElementSibling.title = this.files[0].name">
              <input type="text" disabled="disabled" class="edit file-name"></input>
            </div>
            <div class="formrow">
              <label for="upload2" class="file-button" style="float:left;"> Arch </label>
              <input name="archive" id="upload2" accept="application/zip,application/gzip"
                     type="file" style="display: none" onchange="this.nextElementSibling.value = this.previousElementSibling.title = this.files[0].name">
              <input type="text" disabled="disabled" class="edit file-name"></input>
            </div>
            <input type="hidden" name="board_id" value="{{board.id}}"></input>
            <input type="hidden" name="user_id" value="{{user.id}}"></input>
        {% if messages %}
        {% for message in messages %}
        <div class="lfelemefnt">Errors in fields: {{message}}<br/></div>
        {% endfor %}
        {% endif %}
        <div class="formrow">
          <input class="button" id="send_thread" type="submit" value="Send" />
              <input class="button" type="reset" value="Clear"/>
            </div>
          </form>
        </div>
        {% for bundle in threads %}
        {% with thread=bundle.thread %}
        <div class="thread" id="thread{{thread.id}}">
            <div class="title"> <span class="btitle">{{thread.topic}}</span> ({{thread.post_count}} / {{board.thread_max_post}})</div>

          <div class="details tdetails">
            {% if post.topic %}
            <b>{{post.topic}}</b>
            {% else %}
            Anonymous
            {% endif %}
            <a href="{{thread.board_id}}thread/{{thread.id}}">№{{thread.id}}</a> {{thread.date}}
          </div>

          <div class="reply">
            <span id="hide" class="sage_button linkbot">SAGE!</span>| <a href="{{thread.board_id}}thread/{{thread.id}}">Reply</a>
          </div>
          <div class="message">
              <div class="thread-images">
                {% if thread.image1 %}
                <div class="thread-image">
                        <img src="/media/thumbnails/{{thread.image1.name}}" class="thread-image"><br>
                        <span><a href="/media/{{thread.image1.name}}"> {{thread.image1.name|truncatechars:35}} </a> </span>
                    </div>
                    {% endif %}
                    {% if thread.image2 %}
                    <div class="thread-image">
                      <img src="/media/thumbnails/{{thread.image2.name}}" class="thread-image"><br>
                        <span><a href="/media/{{thread.image2.name}}"> {{thread.image2.name|truncatechars:35}} </a> </span>
                    </div>
                    {% endif %}
            </div>
            {{thread.text}}
                  {% if thread.archive %}
                  <div class="arch">
                    <hr>
                    <span> Arch: <a href="/media/{{thread.archive.name}}">{{thread.archive.name|truncatechars:35}}</a></span>
                  </div>
                  {% endif %}
          </div>

          {% endwith %}
          {% for post in bundle.posts %}
          <div class="post">
            <div class="details pdetails">
            {% if post.topic %}
            <b>{{post.topic}}</b>
            {% else %}
            Anonymous
            {% endif %}
              {{post.user_id.name}} <a href="{{post.board_id}}thread/{{post.thread_id.id}}/#post_{{post.id}}">{{post.id}}</a> {{post.date}}
            </div>
            <div class="message">
              <div class="post-images">
                    {% if not post.image1 and not post.image2 and not post.image3 %}
                    <!-- EMPTY -->
                    {% elif post.image1 and not post.image2 and not post.image3 %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image1.name}}" data-alt_name="/media/{{post.image1.name}}" class="post-image-big"><br>
                      <span><a href="/media/{{post.image1.name}}">{{post.image1.name|truncatechars:35}}</a> </span>
                    </div>
                    {% elif post.image2 and not post.image1 and not post.image3 %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image2.name}}" data-alt_name='/media/{{post.image2.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image2.name}}">{{post.image2.name|truncatechars:35}}</a> </span>
                    </div>
                    {% elif post.image3 and not post.image1 and not post.image2 %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image3.name}}" data-alt_name='/media/{{post.image3.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image3.name}}">{{post.image3.name|truncatechars:35}}</a> </span>
                    </div>
                    {% elif post.image1 and post.image2 and not post.image3 %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image1.name}}" data-alt_name='/media/{{post.image1.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image1.name}}">{{post.image1.name|truncatechars:35}}</a> </span>
                    </div>

                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image2.name}}" data-alt_name='/media/{{post.image2.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image2.name}}">{{post.image2.name|truncatechars:35}}</a> </span>
                    </div>
                    {% elif post.image2 and post.image3 and not post.image1 %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image2.name}}" data-alt_name='/media/{{post.image2.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image2.name}}">{{post.image2.name|truncatechars:35}}</a> </span>
                    </div>

                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image3.name}}" data-alt_name='/media/{{post.image3.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image3.name}}">{{post.image3.name|truncatechars:35}}</a> </span>
                    </div>
                    {% elif post.image1 and post.image3 and not post.image2 %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image1.name}}" data-alt_name='/media/{{post.image1.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image1.name}}">{{post.image1.name|truncatechars:35}}</a> </span>
                    </div>

                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image3.name}}" data-alt_name='/media/{{post.image3.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image3.name}}">{{post.image3.name|truncatechars:35}}</a> </span>
                    </div>
                    {% else %}
                    <div class="post-image-big">
                      <img src="/media/thumbnails/{{post.image1.name}}" data-alt_name='/media/{{post.image1.name}}' class="post-image-big"><br>
                      <span><a href="/media/{{post.image1.name}}">{{post.image1.name|truncatechars:35}}</a> </span>
                    </div>

                    <div class="post-image-small">
                      <img src="/media/thumbnails/{{post.image2.name}}" data-alt_name='/media/{{post.image2.name}}' class="post-image-small"><br>
                      <span><a href="/media/{{post.image2.name}}">{{post.image2.name|truncatechars:35}}</a> </span>
                    </div>

                    <div class="post-image-small">
                      <img src="/media/thumbnails/{{post.image3.name}}" data-alt_name='/media/{{post.image3.name}}' class="post-image-small"><br>
                      <span><a href="/media/{{post.image3.name}}">{{post.image3.name|truncatechars:35}}</a> </span>
                    </div>
                    {% endif %}
            </div>

              {{post.text}}
                  {% if post.archive %}
                  <div class="arch">
                    <hr>
                    <span> Arch: <a href="/media/{{post.archive.name}}">{{post.archive.name|truncatechars:35}}</a></span>
                  </div>
                  {% endif %}
            </div>
          </div>
          {% endfor %}
          </div>
          {% empty %}
            <div align="center" class="title">
              No threads yet.
            </div>
            {% endfor %}
        <div id="copyright"> Kasatou. Yet Another Pointless Imageboard. </div>
        </div>
      </div>

    <footer>
      <div id="footer-links">
            <a href="/">Main</a><a href="/search/">Search </a> <a href="/profile/"> Profile </a>
            <span class="linkbot" id="options_button">Options<div id="options">
                NSFW: <input type="checkbox" id="nsfw_btn">
                !Censored: <input type="checkbox" id="cens_btn">
              </div>
            </span>
{% for board in boards %}
<span class="linkbot"><a href="{{board}}">{{board}}</a></span>
{% endfor %}
            </div>
        </footer>
    </section>
  </body>


</html>
{% endautoescape %}
