<!DOCTYPE html>
{% load i18n %}
{% autoescape off %}
<html>
  <head>
    <title>Kasatou - {{board}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/{{user.theme|lower}}.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
    <script src="/../static/script.js"></script>
  </head>


  <body>
    <div id="main">
      <div class="threadbar">
        {% for thread in threads_menu %}
        <div class="threads">
          <span class="link"><a href="{{thread.board_id}}thread/{{thread.id}}">{{thread.topic|truncatechars:15}} </a></span>
        </div>
        {% endfor %}
      </div>

      <div id="content">
        <div class="title">New thread</div>
        <div id="mainform">
          <form action="/thread_add/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formrow"><div class="mformfield">Topic:</div> <input name="topic" class="edit" type="text" size="53" maxlength="53"/></div>
            <div class="formrow"><div class="mformfield">Text: </div><textarea name="text" rows="10" cols="60" name="text"></textarea> </div>
            <div class="formrow">
              <label for="upload" class="file-button" style="float:left;"> Img </label>
              <input name="image1" id="upload" accept="image/jpeg,image/png,image/gif"
                     type="file" style="display: none" onchange="this.nextElementSibling.value = this.previousElementSibling.title = this.files[0].name">
              <input type="text" disabled="disabled" class="edit file-name"></input>
            </div>
            <div class="formrow">
              <label for="upload1" class="file-button" style="float:left;"> Img </label>
              <input name="image2" id="upload1" accept="image/jpeg,image/png,image/gif"
                     type="file" style="display: none" onchange="this.nextElementSibling.value = this.previousElementSibling.title = this.files[0].name">
              <input type="text" disabled="disabled" class="edit file-name"></input>
            </div>
            <div class="formrow">
              <label for="upload2" class="file-button" style="float:left;"> Arch </label>
              <input name="archive" id="upload2" accept="application/zip,application/gzip"
                     type="file" style="display: none" onchange="this.nextElementSibling.value = this.previousElementSibling.title = this.files[0].name">
              <input type="text" disabled="disabled" class="edit file-name"></input>
            </div>
            <input type="hidden" name="board_id" value="{{board.id}}"></input>
            <input type="hidden" name="user_id" value="{{user.id}}"></input>
        {% if messages %}
        {% for message in messages %}
        <div class="lfelemefnt">Errors in fields: {{message}}<br/></div>
        {% endfor %}
        {% endif %}
        <div class="formrow">
          <input class="button" id="send_thread" type="submit" value="Send" />
              <input class="button" type="reset" value="Clear"/>
            </div>
          </form>
        </div>
        {% for bundle in threads %}
        {% with thread=bundle.thread %}
        <div class="thread" id="thread{{thread.id}}">
          <div class="title btitle">{{thread.topic}} ({{thread.post_count}} / {{board.thread_max_post}})</div>

          <div class="details tdetails">
            {% if post.topic %}
            <b>{{post.topic}}</b>
            {% else %}
            Anonymous
            {% endif %}
            <a href="{{thread.board_id}}thread/{{thread.id}}">№{{thread.id}}</a> {{thread.date}}
          </div>

          <div class="reply">
            <span id="hide" class="sage_button linkbot">SAGE!</span>| <a href="{{thread.board_id}}thread/{{thread.id}}">Reply</a>
          </div>
          <div class="message">
            {{thread.text}}
          </div>
          {% endwith %}
          {% for post in bundle.posts %}
          <div class="post">
            <div class="details pdetails">
              {{post.user_id.name}} <a href="{{post.board_id}}thread/{{post.thread_id.id}}">{{post.id}}</a> {{post.date}}
            </div>
            <div class="message">
              {{post.text}}
            </div>
          </div>
          {% endfor %}
          </div>
          {% empty %}
            <div align="center" class="title">
              No threads yet.
            </div>
            {% endfor %}
        </div>
        <div align="center" id="copyright"> Kasatou. Yet Another Pointless Imageboard. </div>
      </div>

      <div id="links">
        <span class="linkbot"><a href="/search/">Search</a></span>
        <span class="linkbot"><a href="/profile/">Profile</a></span>
        <span class="linkbot"><a href="/">/</a></span>
{% for board in boards %}
<span class="linkbot"><a href="{{board}}">{{board}}</a></span>
{% endfor %}
</div>
  </body>


</html>
{% endautoescape %}
