<!DOCTYPE html>
<html>
{% load i18n %}
{% autoescape off %}
<head>
<title>Kasatou - Board</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="static/main.css">
<link rel="stylesheet" type="text/css" href="static/light.css">
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
-->
</head>
<body>



<div id="main">
<div class="threads">
<div class="threadbar">
<span class="link"><a href="#">Name Thread</a> </span>
<span class="link"><a href="#">Name Thread</a> </span>
<span class="link"><a href="#">Name Thread</a> </span>
<span class="link"><a href="#">Name Thread</a> </span>
</div>

<div class="threadbar">
<span class="link"><a href="#">Name Thread</a> </span>
<span class="link"><a href="#">Name Thread</a> </span>
<span class="link"><a href="#">Name Thread</a> </span>
<span class="link"><a href="#">Name Thread</a> </span>
</div>
</div>
<div id="content">

<div class="title">New thread</div>
<div id="mainform">
<form>
<div class="formrow"><div class="mformfield">Topic:</div> <input class="edit" type="text" size="53" maxlength="53"/></div>
<div class="formrow"><div class="mformfield">Text: </div><textarea rows="10" cols="60" name="text"></textarea> </div>
<input class="button" type="submit" value="Send" />
<input class="button" type="reset" value="Clear"/>
</form>
</div>

<div class="thread">
<div class="title btitle">$thread_name</div>

<div class="details tdetails">
Anonymous <a href="#">#p573</a> Май 05 22:11:29
</div>
<div class="reply"><a href="#">Reply</a></div>
<div class="message">
 THREAD: <br/>
>>>Учитывая, что тем будет несколько тем, то я, вероятно, оставлю и эту. <br />
Это хорошо. Люблю темные цвета, от них глаза не болят.
</div>


<div class="post">
<div class="details pdetails">
Anonymous <a href="#">#p573</a> Май 05 22:11:29
</div>
<div class="message">
POST: <br/>
>>>Учитывая, что тем будет несколько тем, то я, вероятно, оставлю и эту. <br />
Это хорошо. Люблю темные цвета, от них глаза не болят.
</div>
</div>

</div>
<div align="center" id="copyright"> Kasatou. Yet Another Pointless Imageboard. </div>
</div>

<div id="links"><span class="linkbot"><a href="#">Search</a></span>  <span class="linkbot"><a href="#">Profile</a></span>  <span class="linkbot"><a href="#">Invite</a></span> <span class="linkbot"><a href="#">Other</a></span></div>
</body>


</html>
{% endautoescape %}
