<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
  <head>
    <title>Kasatou</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/wakaba.css">
  </head>
  <body>
      <section id="wrapper">
          <div id="index-content">
    <div id="closed-image"></div>

    <div id="errorbox" class="indexbox">
      <div id="etitle" class="title">
        Sorry, but you need an invite key to use Kasatou.
      </div>
      </div>
   </div>   
      <footer>
    <div id="slogan">Yet Another Pointless Imageboard</div>
    </footer>  
</section>  
  </body>

</html>
