<!DOCTYPE html>
{% load i18n %}
{% autoescape off %}
<html>
  <head>
    <title>Kasatou</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/wakaba.css">
  </head>
  <body>
      <section id="wrapper">
          <div id="index-content">
    <div id="closed-image"></div>

    <div id="closedbox" class="indexbox">
      <div id="etitle" class="title">
        Sorry, but you need an invite key to use Kasatou.<br>
        Do you want to <a href="/login/">login?</a>
      </div>
      </div>
   </div>
      <footer>
    <div id="slogan">Yet Another Pointless Imageboard</div>
    </footer>
</section>
  </body>

</html>
{% endautoescape %}
