<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html> 
<head>
<title>Kasatou - Main</title>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="gray.css">
</head>
<body>

<div id="logo">Kasatou </div>

<div class="indexbox">
<div class="indeximg">
<a href="#">
<span class="imggrad"></span>
<img src="img.jpg" class="indeximg" /></a>
</div>

<div class="indexmsgbox"> 
<div class="indextitle">Пилигрим-тред.</div>
<div class="indexmsg"> Почитывааю статейки в интернете, скоро спать пойду уже. А как ваша ночь проходит? </div>
</div>
<div class="inthread"><a href="#">Перейти</a></div>
</div> 


<div id="slogan">Yet Another Pointless Imageboard</div>

</body>

</html>
