<!DOCTYPE html>
<html>
{% load i18n %}
{% load staticfiles %}
{% autoescape off %}
<head>
<title>Kasatou - Main</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="static/main.css">
<link rel="stylesheet" type="text/css" href="static/{{user.theme|lower}}.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
</head>
<body>
<div id="logo">Kasatou </div>
{% if threads %}
{% for thread in threads %}
<div class="indexbox">
  <div class="indeximg">
    <a href="{{thread.board_id}}thread/{{thread.id}}">
      <span class="imggrad"></span>
      <img src="/media/thumbnails/{{thread.image1.name}}" class="indeximg" /></a>
  </div>

  <div class="indexmsgbox">
    <div class="indextitle">{{thread.topic}}</div>
    <div class="indexmsg">{{thread.text|truncatechars:400}}</div>
  </div>
  <div class="inthread"><a href="{{thread.board_id}}thread/{{thread.id}}">Перейти</a></div>
</div>
{% endfor %}
{% else %}
<div align="center" class="indexbox">No threads.</div>
{% endif %}
<div id="slogan">Yet Another Pointless Imageboard</div>

</body>

</html>
{% endautoescape %}
