<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html> 
<head>
<title>Kasatou - Login</title>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="light.css">
</head>
<body>

<div id="logo">Kasatou</div>

<div id="loginform">
<div id="lftitle">Login</div>
<div id="lfcontent">
<form>
<div class="lfelement">login:<br/> <input class="edit" type="text" size="35" maxlength="35"></div>
<div class="lfelement">pass:<br/>  <input class="edit" type="password" size="35" maxlength="35"/></div>
<div class="lfelement"> 
<input class="button" type="submit" value="Login" />  
<input class="button" type="reset" value="Reset"/>  

</div>
</form>
</div>
</div>

</body>
</html>
