<!DOCTYPE html>
<html>
  {% load i18n %}
  {% autoescape off %}
  <head>
    <title>Kasatou - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/light.css">
  </head>
  <body>
      <section id="wrapper">
    <div id="logo">Kasatou</div>
    
    <div id="loginform">
      <div id="lftitle">Login</div>
      <div id="lfcontent">
        <form id="login_form" method="post" action="/login/">
          {% csrf_token %}
          <div class="lfelement">login:<br/> <input class="edit" name="email" type="text" size="35" maxlength="35"></div>
          <div class="lfelement">pass:<br/>  <input class="edit" name="password" type="password" size="35" maxlength="35"/></div>
          <div class="lfelemefnt">{% if messages %}
          {% for message in messages %}
          {{message}}
          {% endfor %}
          {% endif %}
          <br/>
          </div>  
          <div class="lfelement">
            <input class="button" type="submit" value="Login" />
            <input class="button" type="reset" value="Reset"/>
          </div>
        </form>
      </div>
    </div>
   </section>   
  </body>
</html>
{% endautoescape %}
