<!DOCTYPE html>
{% load i18n %}
{% autoescape off %}
<html>
  <head>
    <title>Kasatou</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/{{user.theme|lower}}.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <section id="wrapper">
      <div id="index-content" class="rules">
        <div class="indexbox">
          <p class="title" align="center">Манифест</p>
          <div id="etitle" class="title">
            0)Да, правил нет. Но есть этика. <br>Помни: нужно быть неадекватным, чтобы словить бан.<br><br>
            1) Разжигание расовой, национальной или любой другой розни не приветствуется, но не запрещено - правил нет, но есть этика.<br><br>
            2) Рекомендуется поддерживать чайную атмосферу, что бы это не значило.<br><br>
            3) При создании треда вежливо просим использовать горизонтально-ориентированное изображение.<br><br>
            5) Будьте предельно аккуратны, приглашая сюда новых посетителей.<br><br>
            6) Четвертого пункта не существует.<br><br>
            7) Поиск не работает. Это фича с разной степенью интересных вещей, которые можно делать с его помощью.<br><br>
            <br><br>
            <br><br>
          </div>
        </div>
      </div>
      <footer>
          <div id="footer-links">
            <a href="/">Main</a><a href="/search/">Search </a> <a href="/profile/"> Profile </a>
          </div>
      </footer>
    </section>
  </body>

</html>
{% endautoescape %}
