<!DOCTYPE html>
{% load i18n %}
{% autoescape off %}
<html>
  <head>
    <title>Kasatou - Настройки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/{{user.theme|lower}}.css">
  </head>
  <body>
      <section id="wrapper">
    <div id="logo">Kasatou</div>
    <div id="profile">
      <div class="title">Настройки</div>
      <div id="profileform">
        <form method="post" action="/profile/">
          {% csrf_token %}
          <input class="edit" name="name" type="hidden" size="53" maxlength="53" value="{{user.name}}"/>
          <div class="formrow"><div class="mformfield">Число тредов на страницу:</div><input name="thread_per_page" type="number" min="0" value="{{user.thread_per_page}}"> </div>
          <div class="formrow"><div class="mformfield">Избранные треды:</div><input class="edit" name="liked_threads" type="text" value="{{user.liked_threads}}"></div>
          {% if invite_link %}
          <div class="formrow"><div class="mformfield">Ссылка регистрации: </div> <input value="{{invite_link}}" class="edit" type="url" size="53" maxlength="53"/></div>
          {% endif %}
          <div class="formrow"><div class="mformfield"> Цветовая схема:</div>
            <div class="dropdown">
              <select name="theme">
                {% if user.theme == "Light" %}
                <option selected="selected">Light</option>
                <option>Gray</option>
                <option>Wakaba</option>
                {% elif user.theme == "Gray" %}
                <option>Light</option>
                <option selected="selected">Gray</option>
                <option>Wakaba</option>
                {% elif user.theme == "Wakaba" %}
                <option>Light</option>
                <option>Gray</option>
                <option selected="selected">Wakaba</option>
                {% else %}
                <option>Light</option>
                <option>Gray</option>
                <option>Wakaba</option>
                {% endif %}
              </select>
            </div>
          </div>
          <input class="button" type="submit" value="Send" />
          <input class="button" type="reset" value="Clear"/>
          <a href="/invite/"><input class="button" type="button" value="Get invite"/></a>
          <a href="/logout/"><input class="button" type="button" value="Logout"/></a>
        </form>
      </div>
    </div>
    
    <footer>
            <div id="footer-links">
            <a href="/">Main </a> <a href="/b/">/b/</a> <a href="/search/">Search </a> <a href="/profile/"> Profle </a>  <a href="#">Other </a>
            </div>  
    </footer>  
    </section>  
  </body>
</html>
{% endautoescape %}
