<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html> 
<head>
<title>Kasatou - Настройки</title>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="wakaba.css">
</head>
<body>

<div id="logo">Kasatou</div>
<div id="profile">
<div class="title">Настройки</div>

<div id="profileform"> 
<form>
<div class="formrow"><div class="mformfield">Имя: </div> <input class="edit" type="text" size="53" maxlength="53"/></div>
<div class="formrow"><div class="mformfield">Предпочитаемый тред: </div> <input class="edit" type="url" size="53" maxlength="53"/></div>
<div class="formrow"><div class="mformfield">Число тредов на страницу:</div><input type="number" min="0" > </div> 
<div class="formrow"><div class="mformfield"> Цветовая схема:</div>
<div class="dropdown">
<select> 
  <option> Light</option>
  <option>Gray</option>
  <option>Wakaba</option>
</select>
</div>
</div> 
<input class="button" type="submit" value="Send" />  
<input class="button" type="reset" value="Clear"/>  
</form>
</div>



</div>
</body>
</html>
