<!DOCTYPE html>
<html>
  {% load i18n %}
  {% autoescape off %}
  <head>
    <title>Kasatou - Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/light.css">
    <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
        -->
  </head>
  <body>
    <div id="logo">Kasatou</div>
    <div id="profile">
      <div class="title">Регистрация</div>
      <div id="profileform">
        <form method="post" action="/register/">
          {% csrf_token %}
          <div class="formrow"><div class="mformfield">E-mail: </div> <input class="edit" name="email" type="text" size="53" maxlength="53"/></div>
          <div class="formrow"><div class="mformfield">Password: </div> <input class="edit" name="password" type="password" size="53" maxlength="53"/></div>
          <div class="formrow"><div class="mformfield">Имя: </div> <input class="edit" name="name" type="text" size="53" maxlength="53" value="Anonymous"/></div>
          <div class="formrow"><div class="mformfield">Число тредов на страницу:</div><input name="thread_per_page" type="number" min="0" value=8> </div>
          <div class="formrow"><div class="mformfield"> Цветовая схема:</div>
            <div class="dropdown">
              <select name="theme">
                <option selected="selected">Light</option>
                <option>Gray</option>
                <option>Wakaba</option>
              </select>
            </div>
          </div>
          {% if messages %}
          {% for message in messages %}
          <div class="lfelemefnt">Errors in fields: {{message}}<br/></div>
          {% endfor %}
          {% endif %}
          <input class="button" type="submit" value="Register" />
          <input class="button" type="reset" value="Clear"/>
        </form>
      </div>
    </div>
</div>
</div>
</body>
</html>
{% endautoescape %}
