{% autoescape off %}
<!DOCTYPE html>
<html>
  <head>
    <title>Kasatou - Поиск</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/{{user.theme|lower}}.css">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
  </head>
  <body>

    <section id="wrapper">
      <div id="index-content">
        <div id="logo">Kasatou </div>

        <div id="search">
          <form id="search", method="post" action="/search/">
            {% csrf_token %}
            <div class="formrow">
              <input name="search_text" class="edit" size="53" maxlength="53"
		     pattern=".{6,}"
		     title="запрос должен состоять из минимум шести символов" required>
              <input type="submit" class="button" value="Поиск">
            </div>
          </form>
          {% if posts.count == 1 %}
          <div>Found {{posts.count}} result: </div>
          {% elif posts.count == 0 %}
          <div id="search">I found nothing.</div>
          {% else %}
          {% if posts %}
          <div>Found {{posts.count}} results: </div>
          {% endif %}
          {% endif %}
        </div>

        {% for post in posts %}
        <div class="search-box">
          <div class="search-title">
            {{post.thread}}
          </div>

          <div class="search-result">
            {{post.text}}
          </div>

          <div class="inthread"><a href="{{post.board_id}}thread/{{post.thread_id.id}}/#post_{{post.pk}}">Перейти</a></div>
        </div>
        {% endfor %}

      </div>
      <footer>
        <div id="footer-links">
          <a href="/">Main </a> <a href="/b/">/b/</a> <a href="/profile/"> Profile </a>
        </div>
      </footer>
    </section>
  </body>

</html>
{% endautoescape %}
