<!DOCTYPE html>
<html> 
<head>
<title>Kasatou - Поиск</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="wakaba.css">
</head>
<body>

<div id="logo">Kasatou </div>

<div id="search">
<div class="formrow"><input class="edit" size="53" maxlength="53"> <input type="submit" class="button" value="Поиск"></div>
<div>"Найдено $count результатов: <br> "$query query query query query query query query query query"
$query query query query query query query query query query"
 </div>

</div>

<div class="search-box">
<div class="search-title">
$name_thread
</div>

<div class="search-result">

Исходя из того, что такового тредика тут ещё нет, я создаю его во славу Сатане Сато.
Я вообще мало уверен в том, что этот тред будет использоваться по назначению, или использоваться вообще. Однако не теряя оптимизма, я всё-таки делаю тред! 

</div>
<div class="inthread"><a href="#">Перейти</a></div>
</div> 

<div class="search-box">
<div class="search-title">
$name_thread
</div>

<div class="search-result">

Исходя из того, что такового тредика тут ещё нет, я создаю его во славу Сатане Сато.
Я вообще мало уверен в том, что этот тред будет использоваться по назначению, или использоваться вообще. Однако не теряя оптимизма, я всё-таки делаю тред! 

</div>
<div class="inthread"><a href="#">Перейти</a></div>
</div> 

<div id="slogan">Yet Another Pointless Imageboard</div>

</body>

</html>
