<!DOCTYPE html>
<html>
  {% load i18n %}
  {% autoescape off %}
  <head>
    <title>Kasatou - {{thread}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}light.css">
    <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
        -->
  </head>


  <body>
    <div id="main">
      <div class="threadbar">
        {% for thread in threads_menu %}
        <div class="threads">
          <span class="link"><a href="{{thread.board_id}}thread/{{thread.id}}">{{thread.topic|truncatechars:10}} </a></span>
        </div>
        {% endfor %}
      </div>

      <div id="content">

        <div class="title">New post</div>
        <div id="mainform">
          <form>
            <div class="formrow"><div class="mformfield">Topic:</div> <input class="edit" type="text" size="53" maxlength="53"/></div>
            <div class="formrow"><div class="mformfield">Text: </div><textarea rows="10" cols="60" name="text"></textarea> </div>
            <div class="formrow">
              <input class="button" type="submit" value="Send" />  
              <input class="button" type="reset" value="Clear"/>  
            </div>
          </form>
        </div>
        <div class="thread">
          <div class="title btitle"><a href="{{thread.board_id}}">{{thread.board_id}}</a>{{thread.topic}}</div>

          <div class="details tdetails">
            Anonymous <a href="{{thread.board_id}}thread/{{thread.id}}">№{{thread.id}}</a> {{thread.date}}
          </div>
          <div class="reply"><a href="{{thread.board_id}}thread/{{thread.id}}">Reply</a></div>
          <div class="message">
            <div>
              <a href="/media/{{thread.image1.name}}">{{thread.image1.name|slice:"2:"|truncatechars:20}}</a>
            </div>
            <img class='post_img' src='/images/thumbnails/{{thread.image1.name}}' data-alt_name='/images/{{thread.image1.name}}' alt='{{post.image1.name|slice:"2:"}}'>            
            {{thread.text}}
          </div>
          {% for post in posts %}
          <div class="post">
            <div class="details pdetails">
              {% if post.topic %}
              <b>{{post.topic}}</b>
              {% else %}
              Anonymous 
              {% endif %}
<a href="{{post.board_id}}thread/{{post.thread_id.id}}">{{post.id}}</a> {{post.date}}
            </div>
            <div class="message">
              {{post.text}}
            </div>
          </div>
          {% endfor %}
        </div>
        <div align="center" id="copyright"> Kasatou. Yet Another Pointless Imageboard. </div>
      </div>

      <div id="links"><span class="linkbot"><a href="#">Search</a></span>  <span class="linkbot"><a href="#">Profile</a></span>  <span class="linkbot"><a href="#">Invite</a></span> <span class="linkbot"><a href="#">/b/</a></span></div>
  </body>


</html>
{% endautoescape %}
